{% extends 'basic.html' %}
{% block title %}
About
{% endblock title %}

{% block aboutactive %}
active
{% endblock aboutactive %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock link %}

{% block body %}
<div class="container mt-1" >
 <br>
     <h2 align='center'>About STET</h2>
     <br>
     <p align='center'>STET Sikkim Exam is a Teacher Eligibility Test conducted by The Human Resource Development Department of Sikkim (HRDD). Sikkim has stood 3rd in the national ranking on elementary education for the year 2013-14 as per flash statistics released by Smt. Smriti Irani Hon’ble Union HRD Minister on 18.6.2014. The ranking is based on the four parameters of Accessibility, Infrastructure, Teacher and Outcome. Candidates should first check the Exam Eligibility Criteria before applying for the exam. It’s a very good opportunity for Sikkim State candidates to work in such a very good Education system.</p>
     <br>
     <br>
   <h4 align='center'>Documents needed on the day of STET Sikkim Exam 2020</h4>
      <p align='center'>Candidates should be aware of the important documents needed on the exam day. These documents will be used for your Identity Verification Purpose. We have mentioned below some important documents to carry on exam day.</p>
       <br>
      <ul>
        <li>A hard copy of STET Sikkim Admit Card 2020</li>
        <li>One valid ID proof</li>
      </ul>

      <br>
      <h4 align='center'>Exam Pattern of STET Sikkim Exam 2020</h4>
      <p align='center'>An applicant who intends to participate in both the categories (primary and Graduate) will have to apply and sit in both the papers separately and pay the fee for both the tests. Both Level I and Level II (i.e. for Primary and Graduate teacher) will be conducted on the same day. Total number of questions will be 150 containing Multiple Choice Questions. For each Correct Answer 1 marks will be awarded and there will be no negative marking in STET Sikkim Exam 2019. Candidates will be given 2.30 hours for solving full Question paper. The Exam Timings are 10.00 am to 12:30 pm for (Elementary (GT) teacher) and 01:30 pm to 4.00 pm for (Primary teacher).</p>

       <h5>Paper I( Primary Teacher for class I to V)</h5>
       <br>
      <figure align='center'class="wp-block-table"><table align='center'class="table1"><tbody><tr><td>Structure</td><td>Type of Questions</td><td>Total no. of Marks</td></tr><tr><td>Child Development and Pedagogy</td><td>30 MCQs</td><td>30 Marks</td></tr><tr><td>Language I</td><td>30 MCQs</td><td>30 Marks</td></tr><tr><td>Language II</td><td>30 MCQs&nbsp;</td><td>30 Marks</td></tr><tr><td>Mathematics</td><td>30 MCQs</td><td>30 Marks</td></tr><tr><td>Environmental Studies</td><td>30 MCQs</td><td>30 Marks</td></tr></tbody></table></figure>
      <br>
      <h5>Paper II (for the Graduate teacher for classes VI to VIII)</h5>
      <br>
      <br>
      <figure class="wp-block-table"><table  align='center'class="table1"><tbody><tr><td>Structure&nbsp;</td><td>Type of Question</td><td>Total No. of Marks</td></tr><tr><td>Child Development and pedagogy</td><td>30 MCQs</td><td>30 Marks</td></tr><tr><td>Language I</td><td>30 MCQs</td><td>30 Marks</td></tr><tr><td>Language II</td><td>30 MCQs</td><td>30 Marks</td></tr><tr><td>Mathematics and Science</td><td>60 MCQs</td><td>60 Marks</td></tr><tr><td>Social Studies ( for social studies Teacher)</td><td>60 MCQs</td><td>60 Marks</td></tr></tbody></table></figure>
      <br>
      <br>
      </div>

</div>
{% endblock %}