.mt-1{
  border:1px solid #004080;
  /*border-radius: 15px;*/
}
.my-firstrow{
  height:30px;
  background-color:#004080;
}
.button{
   background-color: #004080;
  border-radius:15px;
  color: white;
 /*padding: 14px 40px;*/
  height:30px;
  width:70%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 10px 0px 25px;
}
.button2{
	 background-color: #004080;
    color:white;
    cursor: pointer;
}
.button3 {
  background-color: #e7e7e7;
color:black;
} 
.button4 {
  background-color: #e7e7e7;
color:black;
}
.my-secrow{
  border:0px 0px 1px 0px;
  border-color:#e7e7e7;
  border-style: solid;
  height:100px;

}
.btn1 {
  background-color:#0079f2;
  border-radius:0px;
  color: white;
  height:35px;
  width: 25%;
  font-size: 20px;
  margin-top:15px;
  margin-bottom: 10px;
  cursor:none;
  padding-top:2px;
}
.btn2 {
  background-color:#0079f2;
  border-radius:0px;
  color: white;
  height:35px;
  width: 30%;
  font-size: 20px;
  margin-top:15px;
  margin-bottom:10px;
  cursor:none;
  padding-top:2px;
}
.Submit{
  width:20%;

}