
#calender{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 36%;
    margin-top: 10px;

}


.cleaner{
    height: 15px;
}

#curr{

    padding-left: 15px;
    padding-right: 15px;
     background-color:RGB(229, 233, 240);
    
}
.line{
    border: 1.2px solid;
    margin-bottom: 8px;
}
#imp{
     padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    background-color: RGB(229, 233, 240);

}
.links{
    font-size: 14px;
    margin-left: 0px;
}
.links a{
  display: block;
    padding: 7px 0 4px 0px;
    margin-left: 3px;
    text-decoration: none;
    color: #606060;
    border-bottom: 1px dashed #c2c2c2;
    font-size: 15px;
    margin-right: 5px;
    font-family: Arial;
    font-weight: bold;
}
.links a:hover{
  color:#1a1919;
  padding-left: 5px;
  transition: 0.3s;
}

.links a:hover{
    transition-timing-function: linear;

}

