{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="keywords" content="footer, address, phone, icons" />
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

    <title>Dashboard</title>
</head>
<body>
  <div id="header">

	    <img  id="logo"src= "{% static 'images/sik.gif' %}" alt="Government of Sikkim">
	    <h1 id='ab' align="center">STET 2020 SIKKIM</h1>
	</div>

   <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navb">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
      <li class="nav-item {% block homeactive %}
      {% endblock homeactive %}">
        <a class="nav-link navh" href="/" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% block aboutactive %}
      {% endblock aboutactive %}">
        <a class="nav-link navh" href="/about">About<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% block supportactive %}
      {% endblock supportactive %}">
        <a class="nav-link navh" href="/support">Support <span class="sr-only">(current)</span></a>
      </li>
            <li class="nav-item {% block contactactive %}
            {% endblock contactactive %}">
        <a class="nav-link navh" href="/contact">Contact<span class="sr-only">(current)</span></a>
      </li>
            <li class="nav-item {% block faqactive %}
            {% endblock faqactive %}">
        <a class="nav-link navh" href="/faq">FAQs <span class="sr-only">(current)</span></a>
      </li>



    </ul>
    <form class="form-inline my-2 my-lg-0" action='/logout' method='post'>
{% csrf_token %}      
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Log Out</button>
    </form>

  </div>
</nav>
<!-- container  -->
<div class="container con">
    <h1 class="head">DashBoard</h1>
    <div class="content">
        <div class="row">
    <div class="col-sm main">
     <h3 align="center" class="heading">Profile</h3>
     <a href="/profile">
      <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front f1">
          <img src="{% static 'images/pro.png' %}" class="logo" alt="Avatar" style="width:300px;height:300px;">
        </div>
    <div class="flip-card-back">
     <h2 class="back">Click here to view your Profile.</h2>
    </div>
  </div>
</div> 
   </a>
    </div>
    <div class="col-sm main">
        <h3 align="center" class="heading">Admit card</h3>
        <a href="/admitcard">
         <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front f2">
          <img src="{% static 'images/adm.png' %}" class="logo" alt="Avatar" style="width:300px;height:300px;">
        </div>
    <div class="flip-card-back">
     <h2 class="back">Click here to Print your Admit Card.</h2>
      
    </div>
  </div>
</div> 
   </a>
    </div>
    <div class="col-sm main">
         <h3 align="center" class="heading">Result</h3>
         <a href="/result1">
          <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front f3">
          <img src="{% static 'images/result.png' %}" class="logo" alt="Avatar" style="width:300px;height:300px;">
        </div>
    <div class="flip-card-back">
     <h2 class="back">Click here to check your Result.</h2>
    </div>
  </div>
</div> 
        </a>
    </div>
  </div>
        
        
        
        
        
        
        
        
        
        
    </div>
</div>
<!--footer-->
  		<footer class="footer-distributed ">

  		<div class="footer-left">

  		<h4  id='abcd'>STET   <span>2020</span></h4>

  		<p class="footer-links">
  		<a href="sih.html">Home</a>
  	·
  		<a href="#">Support</a>
  	·
  		<a href="about.html">About</a>
  	·
  		<a href="#">FAQ</a>
  	·
  		<a href="#">Contact</a>
  		</p>

  		<p class="footer-company-name">A GOVT OF SIKKIM INITIATIVE &copy; 2020</p>
  		</div>

  		<div class="footer-center">

  		<div>
  		<i class="fa fa-map-marker"></i>
  		<p><span>21 Revolution Street</span> SIKKIM, India</p>
  		</div>

  		<div>
  		<i class="fa fa-phone"></i>
  		<p>+91 1234567892</p>
  		</div>

  		<div>
  		<i class="fa fa-envelope"></i>
  		<p><a href="mailto:support@company.com">sikkim_stet.com</a></p>
  		</div>

  		</div>

  		<div class="footer-right">

  		<p class="footer-company-about">
  		<span></span>
  	For detailed information, visit our About section.
  		</p>

  		<div class="footer-icons">

  		<a href="#"><i class="fa fa-facebook"></i></a>
  		<a href="#"><i class="fa fa-twitter"></i></a>
  		<a href="#"><i class="fa fa-linkedin"></i></a>
  		<a href="#"><i class="fa fa-github"></i></a>

  		</div>

  		</div>

  		</footer>









   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



</body>
</html>
